.nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  width: 100%;
  height: 6vh;
  padding: 10px 20px;
  transition-timing-function: ease-in;
  transition: 0.5s;
  background-color: black;
}
.nav__left {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.nav__left > .MuiSvgIcon-root {
  color: red;
}

.nav__left > p {
  padding-left: 2px;
  padding-right: 2px;
  font-weight: 600;
}

.nav__left > span {
  font-weight: 800;
  color: red;
}
.nav__right > .MuiSvgIcon-root {
  color: white;
}
.nav__right > .MuiSvgIcon-root:hover {
  color: red;
}

/* dropdown */

.navDropdown {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  margin-top: 6vh;
  display: flex;
}
.navDropdown__noContent {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.9);
}
.navDropdown__content {
  height: 100%;
  width: 40%;
  position: absolute;
  background-color: black;
  right: 0;
  display: grid;
  padding-bottom: 25%;
}
.navDropdown__contentSearchbar {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 60px;
  background-color: white;
  border-radius: 10px;
}
.navDropdown__contentSearchbar > .MuiSvgIcon-root {
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 3px;
}
.navDropdown__contentSearchbar > .MuiSvgIcon-root:hover {
  color: red;
  cursor: pointer;
}
.navDropdown__contentSearchbar > input {
  width: 100%;
  border: none;
  padding: 10px 10px;
  background-color: transparent;
  font-size: 17px;
  color: red;
  outline: none;
}

.navDropdown__content li {
  list-style: none;
  padding: 10px;
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.navDropdown__content a {
  text-decoration: none;
  color: white;
}

.navDropdown__content .list-title {
  font-weight: 800;
  color: gray;
}

.navDropdown__content .list-items {
  padding-left: 45px;
}

.navDropdown__content li:not(.list-title):hover {
  color: red;
  background-color: #111;
  transition: 300ms ease-in;
}
.navDropdown__content li:not(.list-items):not(.list-title):hover {
  padding-left: 15px;
}

.navDropdown__content .list-items:hover {
  padding-left: 50px;
}
